.card {
    cursor: pointer;
    transition: transform .25s;
}

.card:hover, .selected{
    background-color: aqua;
    transform: scale(1.05);
}

.card-body h5, h6, p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.row-container-overview {
    background-color: ghostwhite;
    justify-content: center;
}