<!-- Control panel -->
<h2>Controls</h2>
<div class="row row-container row-container-controls">
    <div class="col">
      <button type="button" class="btn btn-block btn-success" (click)="sortPlayersAsc()">SORT ASC</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-block btn-info" (click)="sortPlayersDesc()">SORT DESC</button>
    </div>

  <button type="button" class="btn btn-block btn-primary" (click)="submitPlayer()"
    [disabled]="!playerSelectedFromOverview">SUBMIT</button>
  <p class="text-info text-center" *ngIf="playerSubmitted">Your player <b>{{playerToSubmit}}</b> is successfully submitted</p>
</div>